body, html {
  height: 100%; }

.bg {
  background-image: url("../../images/bridge-left.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

h1 {
  font-family: 'Raleway', sans-serif;
  color: #467561;
  font-size: 3rem;
  margin-right: 0;
  margin-bottom: 0;
  padding: 0; }

h3, p {
  font-family: 'Open Sans', sans-serif;
  color: white; }

p {
  text-align: center; }

hr {
  border-style: none;
  border-top-style: solid;
  border-color: #467561;
  border-width: 5px;
  width: 100%;
  margin-top: 0; }

#aboutText {
  background-color: rgba(21, 104, 24, 0.7); }

.navbar {
  padding: 0;
  margin-bottom: 1rem; }

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  padding-top: 30px;
  overflow-x: hidden; }

.main {
  margin-right: 200px;
  padding: 0px 10px; }
