body, html {
  height: 100%; }

.bg {
  /* The image used */
  background-image: url("../../images/bridge-left.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

h1, h2 {
  font-family: 'Ranchers', cursive;
  color: #467561; }

h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  color: #bc4b51; }

body {
  font-family: 'Raleway', sans-serif; }

.jumbotron {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 0px;
  background-image: linear-gradient(to bottom, #c5d86d, #467561); }
