body, html {
  height: 100%;
  background-color: #bc4b51; }

.bg {
  background-image: url("../../images/bridge-left.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

h1 {
  font-family: 'Raleway', sans-serif;
  color: #467561;
  font-size: 3rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0; }

h2, p {
  font-family: 'Open Sans', sans-serif;
  color: white; }

p {
  text-align: center; }

hr {
  border-style: none;
  border-top-style: solid;
  border-color: #c5d86d;
  border-width: 5px;
  width: 100%;
  margin: 2px; }

#aboutText {
  background-color: rgba(21, 104, 24, 0.7); }

.navbar {
  padding: 0;
  margin-bottom: 0; }

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  padding-top: 40px;
  overflow-x: hidden; }

.header {
  margin-left: 1rem; }

.main {
  margin-right: 200px;
  padding: 0px 10px; }

.notmain {
  padding: 0px 10px; }

#homeCol {
  max-width: 90px; }

.footercontainer {
  background-color: #c5d86d;
  padding: 1rem; }

.section {
  margin-top: 3rem;
  margin-left: 1rem; }
  .section h2 {
    color: #c5d86d;
    text-align: center; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  font-family: sans-serif; }

.middle-me {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.calendar {
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
  border-radius: .5rem;
  overflow: hidden; }

.calendar .day {
  padding: 1rem;
  background-color: #467561;
  color: #d1ccc0; }

.full-day {
  font-size: 2rem;
  text-align: center; }

.day-week {
  font-size: .9rem;
  font-weight: 600;
  text-align: right;
  letter-spacing: 1px; }

.grid-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: .5rem;
  padding: 1rem 1rem; }

.day-cel {
  text-align: center; }

.day-cel.header {
  font-weight: 600;
  margin-bottom: 1rem; }

.day-cel.aday {
  border-radius: 1rem;
  padding: .25rem;
  cursor: pointer; }

.day-cel.aday:hover {
  background-color: #d1ccc0; }

.day-cel.aday.selected-day {
  background-color: #467561;
  color: #d1ccc0;
  font-weight: 600; }
